.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.images-side {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  max-width: 100%;
  position: relative;
  background-color: #041527;
  z-index: 1;
}

.images-side::after {
  content: "";
  width: 100%;
  height: 100%;
  background: black url("./../../assets/img/image 9.png");
  background-size: cover;
  top: 0px;
  right: 0px;
  position: absolute;
  display: inline-block;
  z-index: -1;
  mix-blend-mode: color-dodge;
}

.form-side {
  grid-column: 2/3;
  background-color: white;
}

.hero-img-2 {
  max-width: 32%;
  height: auto;
  width: auto\9;
  border-radius: 16px;
  box-shadow: -2px 4px 7.3px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 1001;
  margin-right: -500px;
  margin-top: 140px;
}

.hero-img-1 {
  max-width: 60%;
  height: auto;
  width: auto\9;
  border-radius: 24px;
  box-shadow: -4px 7px 20.5px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1001;
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  background-color: white;
  height: auto;
  padding: 50px;
  border-radius: 8px;
  width: 400px; /* Adjust this value to make the form wider */
  max-width: 100%;
}

.logo-top {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo-top img {
  height: 50px;
  margin-right: 4px;
}

.register-form {
  background-color: var(--bg-dark);
  padding: 50px;
  border-radius: 8px;
}

form input {
  padding-left: 6px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
}

.pass-input {
  position: relative;
}

.hide-pass {
  position: absolute;
  right: 8px;
  top: 12px;
  cursor: pointer;
}

.form-container span {
  text-decoration: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  width: 100%;
}

.form-group label {
  font-size: 12px;
  margin-bottom: 6px;
  margin-left: 6px;
  color: #808080;
}

.form-group input {
  width: 100%;
}

.register-input {
  position: relative;
}

form p-button {
  margin-right: 15px;
}

.button {
  width: 100px;
}

.login-button {
  border: 1px solid white;
  background-color: #2c6aff;
  border-radius: 6px;
  padding: 12px 24px;
  color: white;
  margin-right: 24px;
  width: 100%;
  cursor: pointer;
}

.login-button:hover {
  background-color: #427bff;
  transition: all 0.3s ease-out;
}

.sign-with-google-button {
  border: none;
  background-color: #333333;
  border: 1px solid white;
  border-radius: 6px;
  padding: 12px 24px;
  color: white;
  width: 100%;
  cursor: pointer;
  margin-top: 6px;
}

.sign-with-google-button:hover {
  background-color: #4d4d4d;
  transition: all 0.3s ease-out;
}

/* Fixing some font sizes */
.remember-me-label,
.forgot-password-button,
.switch-register,
.switch-register-button {
  font-size: 14px !important;
}

.switch-register {
  text-align: center;
}

.switch-register-button {
  width: 100%;
  margin: 0 !important;
}

#remember-me {
  width: 20px;
  justify-self: flex-start;
  align-items: center;
  margin: 0;
  margin-right: 4px;
}

.remember-me-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-button {
  background: none;
  border: none;
  color: #3498db;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  margin-left: 60px;
}

.forgot-password-button:hover {
  color: #217dbb;
}

.switch-register-button {
  background: none;
  border: none;
  color: #3498db;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  margin-left: 60px;
}

.switch-register-button:hover {
  color: #217dbb;
}

@media screen and (max-width: 800px) {
  .images-side {
    display: none;
  }

  .main-container {
    grid-template-columns: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.error-message {
  font-size: 12px;
  color: red;
  margin-top: 4px;
}

.copyright-text {
  font-size: 12px;
  color: #4d4d4d;
}

@media screen and (max-width: 1200px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
  }

  .hero-img-2 {
    max-width: 32%;
    height: auto;
    width: auto\9;
    border-radius: 16px;
    box-shadow: -2px 4px 7.3px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1001;
    margin-right: -240px;
    margin-top: 140px;
  }
}
