* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vw;
    background-color: #f8f9fa;
    border-right: 1px solid #e9ecef;
    z-index: 1000;
    border-radius: 10px;
    margin: 5px;
}

h3 {
    padding: 10px;
    border-bottom: 1px solid #e9ecef;
    position: relative;
}

li {
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #e9ecef;
    cursor: pointer;
}

li i {
    position: absolute;
    right: 12px;
}