<div class="main-container">
    <div class="form-container" *ngIf="!submitted">
        <h1 class="form-title">{{formDetails.title}}</h1>
        <span class="divider"></span>
        <p class="form-desc">{{formDetails.desc}}</p>

        <div *ngFor="let option of formDetails.options">
            <label>
                <input type="checkbox" [value]="option" (change)="onCheckboxChange(option, $event)">{{option}}
            </label>
        </div>

        <div *ngIf="errorNoSelection" class="error-message">Please select at least one option.</div>

        <button type="button" class="submit-btn" (click)="onSubmit()">Send</button>
    </div>
    
    <div class="form-container submitted-container" *ngIf="submitted">
        <div class="check">
            <i class="fa-solid fa-check"></i>
        </div>

        <p>Form submitted succesfully!</p>
    </div>
</div>