.container {
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 8px;
  width: auto;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.chart-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-top: 70px;
  position: relative;
}

.total h2,
.total p {
  margin: 0;
}

.total h2 {
  margin-top: 8px;
  color: #ff6f00;
}

.chart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 0px;
  margin-right: 40px;
  height: 100px;
  z-index: 100;
}

.bar {
  background-color: #fbc02d;
  color: #fff;
  padding: 8px;
  text-align: center;
  margin: 5px 0;
  margin-left: 25px;
  width: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  cursor: pointer;
  animation: grow 0.8s ease-in-out;
}

.bar:last-of-type {
  margin-right: 0;
}

.bar-label,
.day-label {
  display: block;
}

.bar-label {
  display: none;
  cursor: pointer;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
}

.bar:hover {
  z-index: 1;
}

.bar:hover .bar-label {
  display: block;
}

.day-label {
  font-size: 0.8em;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
}

.line {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  left: 0;
  right: 0;
  height: 0.5px;
  width: 100%;
  background-color: #ddd;
  color: #ddd;
  opacity: 0.7;
}

.line-bar {
  content: "";
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.5px;
  width: calc(100% - 60px);
  background-color: #ddd;
  color: #ddd;
  opacity: 0.7;
}

.lines {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.animated {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes grow {
  0% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
